In [19]:
import numpy as np
import pandas as pd
import datetime

df = pd.read_csv('odi-batting.csv')
df.head()

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls
0,Afghanistan,Mohammad Shahzad,118,16-02-2010,Tue,Sharjah CA Stadium,Canada,121
1,Afghanistan,Mohammad Shahzad,110,01-09-2009,Tue,VRA Ground,Netherlands,111
2,Afghanistan,Mohammad Shahzad,100,16-08-2010,Mon,Cambusdoon New Ground,Scotland,72
3,Afghanistan,Mohammad Shahzad,82,10-07-2010,Sat,Hazelaarweg,Netherlands,108
4,Afghanistan,Mohammad Shahzad,57,01-07-2010,Thu,Sportpark Westvliet,Canada,57

In [20]:
df['century'] = df['Runs'].apply(lambda x: 1 if x >= 100 else 0)
#df1 = df[(df.Player == 'Sachin R Tendulkar') | (df.Player == 'Ricky T Ponting')]
#df.Player = df.Player.str.strip()
#df.Player = df.Player.str.lower()
print(df[df.Player == 'Sachin R Tendulkar']['century'].sum())
print(df[df.Player == 'Ricky T Ponting']['century'].sum())

48
30

In [21]:
df['SR'] = 100*df['Runs']/df['Balls']
df1 = df[df.century == 1]
df1 = df1.sort_values(['SR'], ascending=False)
df1.head()

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls,century,SR
28157,Pakistan,Shahid Afridi,102,04-10-1996,Fri,Gymkhana Club Ground,Sri Lanka,40,1,255.000000
28158,Pakistan,Shahid Afridi,102,15-04-2005,Fri,Green Park,India,46,1,221.739130
34446,South Africa,Mark V Boucher,147,20-09-2006,Wed,Senwes Park,Zimbabwe,68,1,216.176471
28153,Pakistan,Shahid Afridi,124,21-06-2010,Mon,Rangiri Dambulla International Stad.,Bangladesh,60,1,206.666667
36753,Sri Lanka,Sanath T Jayasuriya,134,02-04-1996,Tue,Padang Cricket Ground,Pakistan,65,1,206.153846

In [35]:
df['MatchDate']= pd.to_datetime(df['MatchDate'],infer_datetime_format=True)
#df.info()
df['Year']= df.MatchDate.dt.year
df.head()

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls,century,SR,Year
0,Afghanistan,Mohammad Shahzad,118,NaT,Tue,Sharjah CA Stadium,Canada,121,1,97.520661,NaN
1,Afghanistan,Mohammad Shahzad,110,NaT,Tue,VRA Ground,Netherlands,111,1,99.099099,NaN
2,Afghanistan,Mohammad Shahzad,100,NaT,Mon,Cambusdoon New Ground,Scotland,72,1,138.888889,NaN
3,Afghanistan,Mohammad Shahzad,82,NaT,Sat,Hazelaarweg,Netherlands,108,0,75.925926,NaN
4,Afghanistan,Mohammad Shahzad,57,NaT,Thu,Sportpark Westvliet,Canada,57,0,100.000000,NaN